.App {
  /*text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
}

.wrapper {
  display: inline-flex;
  justify-content: flex-end;
  border: 10px solid;
  transition: border-color 0.2s ease-in;
  color: #195da0;
}

.App-logo {
  height: 40vmin;
  color: white;
  background-color: #282c34;
}

.App-header {
}

.App-link {
  color: #09d3ac;
}
